.coffee-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px;
}

.coffee-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.coffee-name {
  margin-top: 8px;
  color:rgb(174, 57, 3);
  font-size: 18px;
}